.avatarInitials {
  background: #9fa2a7;
  display: block;
  color: rgba(255, 255, 255, 0.8);
}

.avatar {
  width: 32x;
  height: 100%;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0 !important;
  right: 0 !important;
}
