.appItem {
  border-radius: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.appHeader {
}

.appHeader h4 {
  color: #9fa2a7;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
}

.appContent {
  display: flex;
  flex: 1;
}

.appActions {
  border-top: 1px solid #2a323c;
  padding: 10px;
  width: 100%;
  align-self: flex-end;
}

.appActions button {
  margin: 0 3px;
}

.appIcon {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: rgba(159, 162, 167, 1);
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -30px;
  overflow: hidden;
}

.appIcon img {
  width: 100%;
  height: 100%;
}

.appTitle {
  margin-top: 65px;
  font-size: 15px;
}

.appBarBottom {
  text-align: center;
}

.appBarBottom button {
  margin: 0 5px;
}
