.button {
  border-radius: 50%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in;
  color: white;
  font-size: 12px;
}

.button:hover {
  border-color: white;
}

.buttonDark {
  border: 2px solid #2c323b;
  color: #2c323b;
}

.buttonDark:hover {
  border-color: #323c48;
  color: #323c48;
}
