.notificationCenter {
  background: #fafafa;
  position: fixed;
  overflow: hidden;
  background: transparent;
  right: 0;
  z-index: 1000;
  width: 500px;
  transform: translateX(500px);
}

.notificationCenter .container {
  padding: 20px;
}

.notificationCenter .alert {
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.32);
}
